*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: hsl(233, 47%, 7%);
    color: white;
    font-family: 'Inter', sans-serif;
}

/* - Very dark blue (main background): hsl(233, 47%, 7%)
- Dark desaturated blue (card background): hsl(244, 38%, 16%)
- Soft violet (accent): hsl(277, 64%, 61%)
- White (main heading, stats): hsl(0, 0%, 100%)
- Slightly transparent white (main paragraph): hsla(0, 0%, 100%, 0.75)
- Slightly transparent white (stat headings): hsla(0, 0%, 100%, 0.6) */


.container{
    display: flex;
    padding: 30px;
    
    
    
}

.img{
    width: 500px;
    border-bottom-right-radius: 7px;
    border-top-right-radius: 7px;
    background-image: url(images/image-header-desktop.jpg), url hsl(277, 64%, 61%) ;
    
}



.container-2{
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
   
    padding:40px ;
    background-color:  hsl(244, 38%, 16%);
    max-width: 450px;
    
    
}

.span{
    color: hsl(277, 64%, 61%);
  
}

.h1{
    margin-bottom: 30px;
}



.p-discover{
    margin-bottom: 70px;
    opacity: 0.5;
    line-height: 25px;
   
}

.box{
  display: flex;
 

}

.p-box{
    margin-right: 50px;
    display: flex;
   
}

.p-2{
    margin-right: 50px;
    opacity: 0.5;
}

